<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAC-Movies</title>
</head>
<body>
    <!-- Encabezado -->
        <nav>
            <!-- Logo -->
            <div>
                <a href="/">
                    <span>CAC-Movies</span>
                </a>
            </div>
            <!-- Hipervínculos del menú -->
            <ul>
                <li><a href="#popular">Tendencias</a></li>
                <li><a href="#register.html">Registrarse</a></li>
                <li>
                    <a href="#">
                        <span>Iniciar Sesión</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Contenido -->
    <main>
        <!-- banner-movie -->
        <section id="banner-movie">
            <!-- División contenedora -->
            <div>
                <!-- División para movie-detail espacio para dos partes una para póster
                y otra para descripción -->
                <div>
                    <!-- Para póster -->
                    <div>
                        <img src="static/img/mario.jpg" alt="">
                    </div>
                    <!-- Descripción -->
                    <div>
                        <!-- Para título, año, tipo -->
                        <div>
                            <h2>The Super Mario Bros. Movie <span>(2023)</span></h2>
                            <p>04/05/2023 * Animation, Family, Adventure, Fantasy, Comedy * 1h 33m</p>
                        </div>
                        <!-- Descripción de la trama -->
                        <div>
                            <h3>Overview</h3>
                            <p>While working underground to fix a water main, Brooklin
                                plumbers-and brothers-Mario and Luigi are transported
                                down a mysterious pipe and wander into a magical new world.
                                But when the brothers are separated, Mario embarks on an epic quest to find Luigi.</p>
                        </div>
                        <!-- Créditos -->
                        <div>
                            <!-- Información sobre el director -->
                            <div>
                                <p>Michael Jelenic</p>
                                <p>Director</p>
                            </div>
                            <!-- Información sobre el escritor -->
                            <div>
                                <p>Matthew Fogel</p>
                                <p>Writer</p>
                            </div>    
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- more-info: mostrar información de la película -->
        <section id="more-info">
            <!-- División contenedora -->
            <div>
                <!-- División para más información de las películas -->
                <div>
                    <!-- Trailer -->
                    <div>
                        <h3>Ver Trailer</h3>
                        <!-- Video del tráiler -->
                        <div>
                            <iframe type="text/html" style="background-color: #000;" width="100%" height="315"
                            src="//www.youtube.com/embed/RjNcTBXTk4I? autoplay=1&amp; origin=https%3A%2Fwww.themoviedb.org&amp;h1=en&amp;modestranding=1&amp;fs=1&amp;autohide=1"frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                    <!-- Más info -->
                    <div>
                        <!-- Lista: redes sociales -->
                        <ul>
                            <li><a href="" target="_blank">Facebook</a></li>
                            <li><a href="" target="_blank">Twiter</a></li>
                            <li><a href="">Intragram</a></li>
                            <li><a href="">Movie</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Tabla con más información -->
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2"Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Status</strong></td>
                                <td>Released</td>
                            </tr>
                            <tr>
                                <td><strong>Original Language</strong></td>
                                <td>English</td>
                            </tr>
                            <tr>
                                <td><strong>Budget</strong></td>
                                <td>$100.000.000,00</td>
                            </tr>    
                                <tr>
                                    <td><strong>Revenue</strong></td>
                                    <td>$1.347.013.866,00</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </main>
    <!-- Pie de página -->
    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
</body>
</html>